.container{
  min-height:100%;
}

.containerBook{
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .book{
    width: 80%;
    border: 1px solid darkblue;
    height: 100%;
  }
}

