@use '../../sass/colors.scss' as c;

.container{
  padding: .5rem .8rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  .logo{
    width: 6.55rem;
    height: 6.55rem;
  }

  .search{
    display: flex;
    position: relative;

    input{
      height:2rem ;
      width: 15rem;
      border: 2px solid c.$first-color;
      border-right:none;
      border-radius: .3rem 0 0 .3rem;
      outline: none;
      padding-left: .3rem;
    }

    button{
      height: 2rem;
      background-color: transparent;
      border: 2px solid c.$first-color;
      border-left:none;
      width: 3rem;
      border-radius: 0 .3rem .3rem 0;
      cursor: pointer;
      display: flex;
      justify-content: end;
      align-items: center;
      padding-right: .2rem;
    }
  }
  
  .loginButton{
    border: none;
    padding: .9rem;
    border-radius: .3rem;
    background-color: c.$first-color;
    color: c.$third-color;
    cursor: pointer;
  }
  

  .searchBooks{
    display: flex;
    width: 21.5rem;
    gap:1rem;
    flex-wrap: wrap;
    position: absolute;
    top: 3rem;
    left: -2rem;
    z-index: 1;
    background-color: white;
    padding-top: 1rem;
    border-radius: 5px;
    div{
      // border: 1px solid royalblue;
      text-align: center;
      width: 10.1rem;
      font-weight: bold;
      p{
        color: black;
      }
      img{
        width: 8rem;
        height: 10rem;
      }
    }
  }
}

@media (max-width:600px){
  .container{
    .search{
      input{
        
        width: 7rem;
      }
    }

    .loginButton{
      border: none;
      padding: .5rem;
      border-radius: .3rem;
      background-color: c.$first-color;
      color: c.$third-color;
      cursor: pointer;
    }

    .logo{
      width: 5.55rem;
      height: 5.55rem;
    }
  }
}