.container{
margin-top:1rem ;
// border: 1px solid red;
width: 100%; 
// display: flex;
// align-items: center;
// flex-direction: column;
padding:  0 2rem;
padding-left: 3rem;
}

.books{
width: auto;
margin-bottom: 2rem;
}

.divImgs{
  img{
    width: 11rem;
    height: 14rem;
  }
}

// .teste{
//   border: 1px solid red;
//   width: 40rem;
// }